{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"jsxSingleQuote": true,
	"singleAttributePerLine": true,
	"requireConfig": false,
	"quoteProps": "as-needed",
	"singleQuote": true,
	"useEditorConfig": true,
	"bracketSpacing": true,
	"trailingComma": "es5",
	"semi": true
}
